<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>History</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/patient/list">Patients List</a>&nbsp;|&nbsp;
			<a href="/note/list">All Notes List</a>
		</div>
	</div>

	<div class="row"><h2>All Patients Notes</h2></div>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Patient Id</th>
					<th>Corps</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="note : ${notes}">
					<td th:text="${note.patientId}"></td>
					<td th:text="${note.corps}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/note/patientList(patientId=${note.patientId})}">See Patient History</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<a href="/" class="btn btn-primary btn-sm text-center">Back to Home </a>
	</div>
</div>
</body>
</html>